@import './../../styles/variables';

.info {
    margin-top: 16px;
    background-color: rgba($color-white, 15%);
    padding: 16px;
    border-radius: $border-radius;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__link,
    &__qr {
        display: flex;
        justify-content: center;
    }

    &__link {
        a {
            display: flex;
            align-items: center;
            color: $color-white;
        }

        a:hover {
            color: $color-hover;
        }        
    }

    &__copy,
    &__qr {
        margin-top: 8px;
    }

    &__copy {
        display: flex;
        justify-content: center;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            max-width: 300px;
            height: 32px;
            color: $color-white;
            background-color: $color-bg;
            border-radius: $border-radius / 4;
            font-size: 14px;      
            
            &:hover {
                color: $color-hover
            }
        }
    }

    &__qr {
        div {
            width: 88px;
            height: 88px;
            border-radius: $border-radius / 4;
            background-color: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}