@import './../../styles/variables';

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &__title {
        font-size: 38px;
        line-height: 96.4%;
        color: $color-white;

        &:hover {
            color: $color-hover
        }
    }
}